*{
    box-sizing: border-box;
}


:root{
    --dark:darkslategrey; 
    --tan:bisque;
    --white:white;
    --grey:grey;
    --border: 10px;
    --border2:30px;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color:var(--grey);
    color:bisque;
    align-items: center;
}
span{
    color: brown;
}

header h1{
    font-size: 250%;
    font-style: oblique;
}

header a{
    color: var(--tan);
    text-decoration: none;   
}
header a:hover{
    color: var(--dark);

}

nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    }
nav ul li{
    padding: 0 25px ;
}
header p{
    position: absolute;
    right: 80%;
    margin-top: 3%;
    font-style: italic;
    margin-right: 45px;
    color:var(--dark);
}

body{
    background-color:white;
}
.aside2{
float: right;
width: 60%;
height: 800px;
background: url(./tractor.jpg);
background-size: contain;
background-position: center;
margin-top: -42%;
}

main{
    height: 800px;
    margin-top: 0%;
}

section{
    height: 800px;
  width: 40%;
    padding: 0 2%;
    border: 1px soild wheat;
}


form{
 padding: 80px;
 border: brown;
 border-radius: 50px;
position: absolute;
top: 35%;
left: 100px;
background-color: antiquewhite;
box-shadow: 2px 2px 20px brown;
}

label{
    margin: 2% 0;
    display: block;
    font-style: italic;
}

.text-input{
    margin: 1;
    border: 1.8px solid gold;
    padding: 1%;
    width: 60%;
    outline: none;
}

.text-input:hover{
    box-shadow: 0 0 15px red;
}

.login h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-style: italic;
    margin-bottom: 8%;
}

.login p{
    font-style: italic;
}

form a{
    padding: 1%;
}

.check2{
    display: flex;
}

#keep{
    margin-left: 2%;
}



button{
    margin: 2% 0;
    padding: 10px;
    
}



footer{
    padding: 1%;
    display: flex;
    background-color:var(--grey);
    justify-content: space-between;
    color: var(--white);
    margin-top : 0%;
    
}


footer img{
    height: 35px;
}

footer a{
    justify-content: space-between;
    padding: 10px;
    margin-top: 5%;
}

footer h2{
    font-size: larger;
    margin-bottom: 4%;
    color: black;
}

.contact{
    margin-left: 5%;
}

.social h1{ 
    margin-bottom: 15%;
    color: black;
    font-size: large;
}
.social img{
    border-radius:var(--border);
}

.app{
    margin-top: 2%;
}

.app img{
    border-radius:var(--border);
}

footer{
    margin: 2% 0;
}

footer p{
    font-size: 15px;
    font-style: italic;
    margin-top: 2%;
}
